Source: aurex-fs-utils
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: aurex-fs-utils
Architecture: all
Depends: ${misc:Depends}, sudo, nfs-common, smbclient, smbfs, xfsprogs, reiserfsprogs, reiser4progs, jfsutils, ntfsprogs, dosfstools, dmraid, dmsetup
Conflicts: smbfs (<< 2:4.0-1)
Description: aurex filesystem related tools
 The package installs all the aurex required filesystem utilities, the

Package: aurex-netmount
Architecture: all
Depends: ${misc:Depends}
Description: aurex automatic mounts at boot time
 The package provides an upstart script to mount filesystems 
 at start up, as fstab but in a more flexible way 
