Source: aurex-fs-utils
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: aurex-fs-utils
Architecture: all
Depends: ${misc:Depends}, sudo, nfs-common, smbclient, cifs-utils, xfsprogs, reiserfsprogs, reiser4progs, jfsutils, ntfs-3g, dosfstools, davfs2, dmraid, dmsetup, glusterfs-client, attr
Conflicts: smbfs
Description: aurex filesystem related tools
 The package installs all the aurex required filesystem utilities, the
 aurex-mount and aurex-umount scripts, and a replacement for smbumount.

Package: aurex-fstab
Architecture: all
Depends: ${misc:Depends}
Description: aurex automatic mounts at boot time
 The package provides an upstart script to mount filesystems 
 at start up, as fstab but in a more flexible way 
